/* Animations */
.fade {
    animation: fadding 0.5s forwards;
}

@keyframes fadding {
    100% {
        opacity: 0;
        transform: translateX(50px);
    }
}

.appear {
    animation: appearing 0.5s forwards;
}

@keyframes appearing {
    0% {
        opacity: 0;
        transform: translateX(50px);
    }

    100% {
        opacity: 1;
        transform: translateX(0px);
    }
}

.appear-down {
    animation: forwards appearDown 0.5s;
}

@keyframes appearDown {
    0% {
        opacity: 0;
        transform: translate(-50%, 0) translateY(-100px);
    }

    100% {
        opacity: 1;
        transform: translate(-50%, 0) translateY(0px);
    }
}

.fade-up {
    animation: forwards fadeUp 0.5s;
}

@keyframes fadeUp {
    0% {
        opacity: 1;
        transform: translate(-50%, 0) translateY(0px);
    }

    100% {
        opacity: 0;
        transform: translate(-50%, 0) translateY(-100px);
    }
}

.center {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px 0;
}

.error {
    padding: 0;
    margin: 0px 0px 7px;
    color: hsl(0, 100%, 66%);
    font-size: 12px;
}