* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  font-family: 'Epilogue';
  background-color: hsl(0, 0%, 98%);
}

/* Animations */
.fade {
  animation: fadding 0.5s forwards;
}

@keyframes fadding {
  100% {
    opacity: 0;
    transform: translateX(100px);
  }
}

.appear {
  animation: appearing 0.5s forwards;
}

@keyframes appearing {
  0% {
    opacity: 0;
    transform: translateX(100px);
  }

  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}

.appear-down {
  animation: forwards appearDown 0.5s;
}

@keyframes appearDown {
  0% {
    opacity: 0;
    transform: translateY(-100px);
  }

  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

.fade-up {
  animation: forwards fadeUp 0.5s;
}

@keyframes fadeUp {
  0% {
    opacity: 1;
    transform: translateY(0px);
  }

  100% {
    opacity: 0;
    transform: translateY(-100px);
  }
}

.over-layer {
  background-color: rgb(0, 0, 0);
  opacity: 0;
  width: 100%;
  min-height: 100vh;
  position: fixed;
  top: 0;
  z-index: 1000;
  display: none;
  transition: 0.5s;
}

aside {
  display: none;
  position: fixed;
  z-index: 1001;
  background-color: hsl(0, 0%, 98%);
  right: 0;
  top: 0;
  width: 45%;
  min-width: 200px;
  padding: 20px;
  min-height: 100vh;
}

aside .x1 {
  display: block;
  font-size: 34px;
  margin-left: auto;
  margin-bottom: 50px;
  transition: 0.3s;
}

aside ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

aside ul li {
  margin-bottom: 15px;
  color: hsl(0, 0%, 41%);
}

aside .share {
  position: unset;
  display: block;
  opacity: 1;
  background-color: hsl(0, 0%, 98%);
  box-shadow: unset;
  padding: 0px 20px;
  max-height: 0px;
  overflow: hidden;
  transition: 0.3s;
}

aside .share div {
  margin: 20px 0px;
  align-items: center;
}

aside .company {
  padding-left: 20px;
}

aside .features div img {
  width: 20px;
  height: 20px;
}

aside .buttons {
  display: flex;
  flex-direction: column;
}

aside .login {
  margin: 20px 0px;
}

header {
  background-color: hsl(0, 0%, 98%);
  width: 100%;
  display: flex;
  align-items: center;
  padding: 25px 40px;
  position: fixed;
  top: 0;
}

header .logo {
  width: 70px;
  height: 25px;
}

.logo img {
  width: 100%;
  height: 100%;
}

header ul {
  display: flex;
  align-items: center;
  margin: 0px;
  padding: 0px;
  list-style: none;
}

header ul li {
  margin-left: 40px;
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: 0.3s;
  color: hsl(0, 0%, 41%);
}

li:hover {
  color: black;
}

li i {
  margin-left: 5px;
  font-size: 14px;
  transition: 0.3s;
}


.buttons {
  margin-left: auto;
}

.login {
  border: none;
  outline: none;
  color: hsl(0, 0%, 41%);
  cursor: pointer;
  transition: 0.3s;
  background-color: transparent;
  margin-right: 30px;
}

.login:hover {
  color: hsl(0, 0%, 8%);
}

.register {
  color: hsl(0, 0%, 41%);
  outline: none;
  cursor: pointer;
  transition: 0.3s;
  background-color: transparent;
  border: 2px solid hsl(0, 0%, 41%, 0.8);
  border-radius: 10px;
  text-align: center;
  padding: 10px;
}

.register:hover {
  border-color: black;
  color: black;
}

.register:active {
  transform: translateY(10px);
}

.share {
  position: fixed;
  top: 75px;
  padding: 20px;
  border-radius: 5px;
  background-color: white;
  box-shadow: 2px 3px 20px 0 hsl(219, 14%, 63%);
  opacity: 0;
}

.features {
  left: 83px;
}

.features p {
  margin: 0;
}


.company {
  left: 277px;
}

.company p {
  margin: 0px 0px 12px;
  color: hsl(0, 0%, 8%);
}


.features div {
  display: flex;
  margin-bottom: 12px;
}

.features div img {
  width: 15px;
  height: 15px;
  margin-right: 15px;
  flex-shrink: 0;
}

.shape {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 25px;
  width: 35px;
  cursor: pointer;
  margin-left: auto;
  display: none;
}

.shape span {
  background-color: black;
  height: 4px;
  width: 100%;
  display: block;
}

/* Container */
.container {
  display: flex;
  padding: 0px 110px;
  margin-top: 92px;
  align-items: center;
}

.right {
  width: 50%;
  flex-shrink: 0;
  margin-left: 100px;
}

.right img {
  width: 100%;
  height: 100%;
}

.right img:last-child {
  display: none;
}

.left {
  width: 50%;
}

.text {
  margin: 0px 0px 50px;
}

.text h1 {
  font-size: 5.2em;
}

.text p {
  line-height: 1.5;
  color: hsl(0, 0%, 41%);
  max-width: 400px;
}

.left button {
  outline: none;
  border: 2px solid black;
  background-color: black;
  color: white;
  border-radius: 10px;
  padding: 15px;
  text-align: center;
  width: 150px;
  transition: 0.5s;
  cursor: pointer;
  margin-bottom: 50px;
}

.left button:hover {
  background-color: white;
  color: black;
}

.left button:active {
  background-color: black;
  color: white;
  transform: translateY(20px);
}

.images {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

@media (max-width:950px) {
  .shape {
    display: flex;
  }

  header .buttons {
    display: none;
  }

  .shape+ul {
    display: none;
  }

  .right img:last-child {
    display: block;
  }

  .right img:first-child {
    display: none;
  }

  .container {
    flex-direction: column-reverse;
    padding: 1%;
  }

  .right {
    flex-shrink: 1;
    width: 100%;
    margin: 0;
  }

  .left {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .text h1 {
    text-align: center;
    font-size: 4em;
  }

  .text p {
    text-align: center;
    max-width: 100%;
  }
}

@media (max-width:450px) {
  .text h1 {
    font-size: 2em;
  }
}